 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

 h1,h2,h3,h4,h5,h6, p{
  font-family: 'Lato', sans-serif;
  /* // font-family: 'Roboto Slab', serif; */
}

html.plt-mobile ion-app {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}